@model ALProjet2017AL.Views.ViewModels.ReservationHeure.IndexViewModel

@{
    ViewBag.Title = "Planning";
}
<h2>@ViewBag.Title</h2>

<div id="gouche">
    <div id="calendar"></div>
</div>

<div id="droit">
        @Html.Partial("_Formulaire")
</div>