@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    esgi <br />
    nation paris, 75012<br />
    <abbr title="Phone">Tel:</abbr>
    425.555.0100
</address>

<address>
    <strong>Developpeur:</strong>   <a>mokrane.tiguercha@gmail.com</a><br />
    <strong>Developpeur:</strong> <a>ung.willybox@gmail.com</a>
</address>