@{
    ViewBag.Title = "Home Page";
}

<br/>
<div class="jumbotron">
    <h1>École supérieure de génie informatique</h1>
    <p class="lead">L'École Supérieure de Génie Informatique est une école d'enseignement supérieur en informatique située à Paris et fondée en 1983.</p>
    <p><a href="http://www.esgi.fr/" class="btn btn-primary btn-lg">Site officiel &raquo;</a></p>
</div>

